body
  padding: 0
  margin: 0

canvas
  vertical-align: top

#data-bar
  position: absolute
  left: 0
  top: 75%
  height: 25%
  width: 100%

  #header
    background-color: #80A596
    height: 20px
    padding: 5px 0 0 50px

    h3
      margin: 0
      font-family: 'Cousine'
      font-size: 12px
      text-transform: uppercase
      color: #FDFDFD

  #data
    background-color: #B4D2CA
    height: 100%

.axisLabels
  font-family: 'Source Code Pro'
  font-size: 16px

#title
  font-family: 'Cousine'
  font-size: 26px
