/*
Error: It's not clear which file to import for '@import "typography"'.
       Candidates:
         _typography.sass
         _typography.scss
       Please delete or rename all but one of these files.
        on line 15 of /Users/AnnaFractuous/Development/code/apps/swaleViz/styles/style.scss

10: @import 'media-queries';
11: 
12: /* TYPOGRAPHY *\/
13: 
14: @import 'icons';
15: @import 'typography';
16: 
17: /* MAIN STYLES *\/
18: 
19: @import 'pages';
20: @import 'canvas';

Backtrace:
/Users/AnnaFractuous/Development/code/apps/swaleViz/styles/style.scss:15
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/import_node.rb:45:in `import'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/bin/scss:13:in `<top (required)>'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/bin/scss:23:in `load'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/bin/scss:23:in `<main>'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `eval'
/Users/AnnaFractuous/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: It's not clear which file to import for '@import \"typography\"'.\A        Candidates:\A          _typography.sass\A          _typography.scss\A        Please delete or rename all but one of these files.\A         on line 15 of /Users/AnnaFractuous/Development/code/apps/swaleViz/styles/style.scss\A \A 10: @import 'media-queries';\A 11: \A 12: /* TYPOGRAPHY */\A 13: \A 14: @import 'icons';\A 15: @import 'typography';\A 16: \A 17: /* MAIN STYLES */\A 18: \A 19: @import 'pages';\A 20: @import 'canvas';"; }
