<div class="data-graph__snapshot-current">
	<h3 class="data-graph__snapshot-label">Current</h3>
	<span class="data-graph__snapshot-current-value" id="current-value">{{current}}</span>
	<span class="data-graph__snapshot-current-unit" id="value-unit">{{unit}}</span>
</div>

<div class="data-graph__snapshot-range">
	<div class="data-graph__snapshot-range-high">
		<h3 class="data-graph__snapshot-label">High</h3>
		<span class="data-graph__snapshot-range-value" id="high-value">{{high}}</span>
	</div>
	<div class="data-graph__snapshot-range-low">
		<h3 class="data-graph__snapshot-label">Low</h3>
		<span class="data-graph__snapshot-range-value" id="low-value">{{low}}</span>
	</div>
</div>