<div class="data-snapshot__current">
	<h3 class="data-snapshot__label">Current</h3>
	<span class="data-snapshot__current-value" id="current-value">{{current}}</span>
	<span class="data-snapshot__current-unit" id="value-unit">{{unit}}</span>
</div>

<div class="data-snapshot__range">
	<div class="data-snapshot__range-high">
		<h3 class="data-snapshot__label">High</h3>
		<span class="data-snapshot__range-value" id="high-value">{{high}}</span>
	</div>
	<div class="data-snapshot__range-low">
		<h3 class="data-snapshot__label">Low</h3>
		<span class="data-snapshot__range-value" id="low-value">{{low}}</span>
	</div>
</div>