<div class="plant-archive__container">
  <div id="particles-js"></div>
  <div id="scene">
    <div id="poem"></div>
    <div id="icon"></div>
    <div id="spec"></div>
  </div>
</div>
<script src="templates/aef-js/particles.js"></script>
<script src="templates/aef-js/script.js"></script>
