<div class="current-container">
    <h5 class="snapshot-label">
        Current
    </h5>
    <h1 id="current-value" class="snapshot-value">
        {{current}}
    </h1>
    <h5 id="value-unit">
        {{unit}}
    </h5>
</div>

<div class="low-high-container">
    <div class="high">
        <h5 class="snapshot-label">
            High
        </h5>
        <h2 id="high-value" class="snapshot-value">
            {{high}}
        </h2>
    </div>
    <div class="low">
        <h5 class="snapshot-label">
            Low
        </h5>
        <h2 id="low-value" class="snapshot-value">
            {{low}}
        </h2>
    </div>
</div>
