// DATA SNAPSHOT
.data-snapshot
  color: #373737
  position: absolute
  top: 25%
  left: 80%

  h5
    font-size: rem(16)

  .label
    font-family: 'Input Mono Compressed Light'

  .value
    font-family: 'Blanch Condensed'
    font-weight: normal

  #value-unit
    font-family: 'Input Sans'
    font-weight: normal

  .current-container
    display: block

    h1, h5
      display: inline-block
      vertical-align: middle

    .label
      display: block

    .value
      font-size: rem(80)
      margin-bottom: 14px

  .low-high-container
    display: flex

    .low, .high
      width: 66px

    .value
      display: inline-block
      font-size: rem(45)
      line-height: 50px
