.data-info {
	position: absolute;
	color: #373737;
	top: 12%;
	right: 16%;
	width: 25%;

	#data-category {
		font-family: 'Input Mono Compressed Bold';
		margin-bottom: 10px;
	}

	#data-description {
		font-family: 'Input Sans Regular';
		font-size: rem(10);
		line-height: rem(20);
	}
}
