// BOTTOM DATA BAR
$section-border: 1px solid #9CB8B5;

.data-bar {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-image: url('../assets/images/data-bar-bg.jpg');
	background-size: cover;
	color: #FFF;
	text-align: left;

	&__section {
		position: relative;
		flex-grow: 1;
		padding: 10px 5px;
		border-right: $section-border;
		&:last-child { border-right: 0; }

		&.rainfall { border-right: none; }
		
		&.location {
			flex-basis: 100%;
			width: 100%;
			padding: 5px 5px 5px 30px;
			border-top: $section-border;
		}
	}

	&__subsection { display: inline-block; }

	&__icon {
		position: absolute;
		right: 0;
		color: #FFF;
		opacity: .25;

		&.icon-thermometer,
		&.icon-pressure,
		&.icon-rain {
			top: 0;
		}

		&.icon-windspeed,
		&.icon-location {
			bottom: 0;
		}

		&.icon-thermometer {
			font-size: rem(70);
			right: 5%;
		}
		
		&.icon-location {
			font-size: rem(24);
			left: 5px;
		}
		
		&.icon-windspeed { font-size: rem(50); }
		&.icon-pressure { font-size: rem(62); }
		&.icon-rain { font-size: rem(70); }
	}

	&__value {
		position: relative;
		font-family: $blanch-condensed;
		font-size: rem(36);
		line-height: 1;

		.decimal {
			position: relative;
			bottom: 12px;
			margin-right: -4px;
			font-size: rem(18);
		}
	}

	&__unit,
	&__label {
		font-family: $dinpro-light;
	}
	
	&__label { font-size: rem(12); }
	&__unit { font-size: rem(11); }

	@media (min-width: $tablet) {
		height: 100px;
		bottom: 0;
		flex-wrap: nowrap;

		&__section {
			padding: 10px 20px;
			&.rainfall { border-right: $section-border; }
			&.location {
				flex-basis: auto;
				width: auto;
				padding: 10px 20px;

				.data-bar__label {
					line-height: 18px;
					position: relative;
    			top: 5px;

					span {
						display: block;
						text-align: right;
					}
				}
			}
		}

		&__icon {
			&.icon-windspeed { font-size: rem(86); }
			&.icon-thermometer,
			&.icon-rain {
				font-size: rem(95);
			}
			&.icon-pressure,
			&.icon-location {
				font-size: rem(90);
			}
		}

		&__value {
			font-size: rem(50);
			.decimal {
				font-size: rem(25);
				bottom: 17px;
			}
		}

		&__unit { font-size: rem(18); }
	}
}
