// BOTTOM DATA BAR
.data-bar {
	display: flex;
	position: absolute;
	left: 0;
	top: 75%;
	width: 100%;
	height: 22%;
	max-height: 200px;
	background-image: url('../assets/images/data-bar-bg.jpg');
	background-size: cover;
	color: #FFF;
	text-align: left;

	&__section {
		position: relative;
		width: 20%;
		padding: 20px 0 0 40px;
		border-right: 1px solid #9CB8B5;

		&.temperature { width: 29%; }
		&.windspeed { width: 18%; }
		&.pressure { width: 19%; }
		&.rainfall { width: 20%; }

		&.location {
			width: 14%;

			.data-bar__label {
				padding: 17% 17% 0 0;
				line-height: 18px;

				span {
					display: block;
					text-align: right;
				}
			}
		}

		&:last-child { border-right: 0; }
	}

	&__subsection { display: inline-block; }

	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		color: #FFF;
		opacity: .25;
		font-size: rem(133);

		&.icon-thermometer {
			font-size: rem(144);
			right: 15%;
		}
		
		&.icon-windspeed {
			bottom: 0px;
			top: auto;
			font-size: rem(125);
		}
		
		&.icon-location {
			bottom: 0px;
			top: auto;
		}
	}

	&__value {
		position: relative;
		font-family: $blanch-condensed;
		font-weight: normal;
		font-size: rem(90);
		line-height: 1;

		.decimal {
			font-size: rem(50);
			line-height: 65px;
			position: absolute;
		}
	}

	&__unit {
		font-family: $dinpro-light;
		font-size: rem(24);
	}

	&__label {
		font-family: $dinpro-light;
		line-height: 14px;
	}
}
