.nav {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 300;
    position: relative;

    &__item {
        color: white;
        font-family: $dinpro-light;
        text-transform: uppercase;
        margin: 0 15px;
        line-height: 50px;
        cursor: pointer;

        &:hover,
        &.selected {
            color: #A8C7BF;
        }
    }
}