.page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: -100vw;
    top: 0;
    margin-top: 50px;
    –webkit-transition: right ease 1s;
    -moz-transition: right ease 1s;
    transition: right ease 1s;

    &.in-view {
        right: 0;
    }
    
    &:not(.in-view) {
        overflow: hidden;
    }
}