.page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: -100vw;
  top: 0;
  padding-top: 50px;
  transition: right ease 1s;
  &.in-view { right: 0; }
  &:not(.in-view) { overflow: hidden; }
}