/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(-360deg);
	}
}
/* all other browsers */
@keyframes spinner {
	from {
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	to
	{
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
		
.plant-archive {
	background-color: black;
	padding: 20px 40px;

	#handlebars-plant-menu {
		display: block;
	}

	&__menu {
		padding: 20px;
		height:  100%;

		&-header {
			text-transform: capitalize;
			font-family: 'Input Mono Regular';
			font-size: 42px;
			color: white;
			text-align: center;
			margin-bottom: 20px;
		}
	}

	&__container {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
        width: 100%;
    }

    #particles-js {
        height: 100%;
    }

    &__scene {
        position: absolute;
        top: 150px;
        width: 100%;
        height: calc(100% - 200px);
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-family: 'Neou Bold';
        font-size: 1.2rem;
        align-items: center;
        word-wrap: break-word;
        hyphens: auto;
        pointer-events: none;

        &-poem,
        &-icon,
        &-spec {
            color: white;
            padding: 3%;
            width: 30vw;
            height: 100%;
        }

        &-icon > div {
            font-size: 30vw;
            max-width: 100%;
            -webkit-animation-name: spinner;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 6s;
            animation-name: spinner;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-duration: 6s;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
    }
}
