.plant-archive
  background-color: black
  height: 90vh
  position: absolute
  top: -89vh
  left: 0
  right: 0
  z-index: 200
  -webkit-transition: top 300ms ease-out
  -moz-transition: top 300ms ease-out
  -o-transition: top 300ms ease-out
  transition: top 300ms ease-out

  &.open
    top: -1vh

  .icon-pulldown
    font-size: 215px
    position: absolute
    bottom: -214px
    left: 50vw
    margin-left: -107px
