.plant-archive {
  background-color: black;
  padding: 50px 20px 20px;

  #particles-js {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

  &__header {
    text-transform: capitalize;
    font-family: $input-mono;
    font-size: rem(24);
    color: white;
    text-align: center;
    margin-bottom: 20px;
		padding: 0 20px;
  }

  &__scene {
    display: flex;
		justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    font-family: $dinpro-light;
    font-size: rem(18);
    align-items: center;
    word-wrap: break-word;
    hyphens: auto;
    pointer-events: none;

    &-poem,
    &-icon,
    &-spec {
      color: white;
      padding: 3%;
      height: 100%;
    }
    
		&-poem,
    &-spec {
      width: 40vw;
		}

		&-icon {
			width: 100%;
			opacity: 0.5;

			&-container {
				top: 10%;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
			}
			
			> div {
				font-size: 100vw;
				max-width: 100%;
				-webkit-animation-name: spinner;
				-webkit-animation-timing-function: linear;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-duration: 6s;
				animation-name: spinner;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-duration: 6s;
				-webkit-transform-style: preserve-3d;
				-moz-transform-style: preserve-3d;
				-ms-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
		}

    &-spec .section {
      margin-bottom: 20px;
      .content {
        margin-top: 5px;
        font-size: rem(14);
      }
    }
  }

  @media (min-width: 400px) {
		&__scene-icon {
      &-container {
        width: 400px;
        height: 400px;
        margin: 0 calc(50% - 200px);
      }
      > div { font-size: 400px; }
    }
  }

  @media (min-width: $tablet) {
		padding: 60px 40px 20px;

    &__header { font-size: rem(42); }
  }
}


/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}