.plant-archive
  background-color: black
  padding: 20px 40px

  &__menu
    /* padding: 20px
    padding: 5px

    &-header
      text-transform: capitalize
      font-family: 'Input Mono Regular'
      /* font-size: 55px
      font-size: 20px
      color: white
      text-align: center
      /* margin-bottom: 20px
      margin-bottom: 10px

    &-icon-list
      display: flex
      flex-wrap: wrap
      justify-content: space-around

    &-icon
      color: white
      /* font-size: 100px
      width: 16.667%
      min-width: 60px
      font-size: 50px
      text-align: center
      /* padding: 30px 20px
      padding: 10px
      cursor: pointer

      &.icon-about
        font-size: 80px

  &__entry
    display: none
    max-height: 100%

    &-content
      color: white

    &-menu-btn
      color: white

      .icon-grid
        font-size: 40px
        cursor: pointer

    &-heading
      font-family: "Input Mono Medium"
      font-size: 14px
      margin: 20px 0

    &-title,
    &-text,
    &-text p,
    &-link
      font-family: "Input Mono Extra Light"

    &-title
      text-transform: capitalize
      font-size: 55px

    &-text
      padding-bottom: 30px

      p
        line-height: 1.2

    &-link a
      color: inherit
      text-decoration: underline

      &:hover
        color: inherit

    &-symbol
      font-size: 325px
      max-height: 325px

    &-quote
      font-family: "Input Mono Extra Light Italic"
      text-align: center

    &-quote-marks
      font-family: "Input Mono Extra Light Italic"
      font-size: 90px
      text-align: left

      &:first-of-type
        transform: rotate(180deg)
        position: relative
        top: -.5em
