/* Breakpoints */

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

/* Fonts */

$dinpro-light: 'DINPro Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$dinpro-med: 'DINPro Medium', sans-serif;
$sourcecode: 'Source Code Pro';