/* FUNCTIONS & MIXINS */

@function rem($px) {
	@return #{$px/16}rem;
}

/* BASIC STYLES */

@import 'normalize';
@import 'media-queries';

/* TYPOGRAPHY */

@import 'icons';
@import 'typography';

/* MAIN STYLES */

@import 'pages';
@import 'canvas';
@import 'data-bar';
@import 'data-snapshot';
@import 'data-info';
@import 'plant-archive';
@import 'about-us';
